[user]
    name = Isabelle RICHARD
    email = isabelle.richard@smile.fr

[color]
    ui = true

[core]
    editor = vi
    excludesfile = ~/.gitignore_global

[push]
    default = simple

[alias]
    logtree = log --graph --oneline --decorate --all
    ls = log --pretty=format:"%C(green)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative --name-status
    pr = pull --recurse-submodules=yes
    st = status
    ci = commit
    co = checkout
    retrack = update-index --no-assume-unchanged
    untrack = update-index --assume-unchanged

[credential]
    helper = store
