Host nivose
Hostname nivose.informatique.univ-paris-diderot.fr
User richard
IdentityFile ~/.ssh/id_rsa

Host lucien
Hostname lucien.informatique.univ-paris-diderot.fr
User richard
IdentityFile ~/.ssh/id_rsa

Host ouindose
Hostname ouindose.informatique.univ-paris-diderot.fr
User richard
IdentityFile ~/.ssh/id_rsa
