[global_config]
  geometry_hinting = False
  handle_size = 1
  focus = mouse
[keybindings]
  hide_window = None
[profiles]
  [[default]]
    scrollbar_position = hidden
    palette = "#000000:#cc0000:#4e9a06:#c4a000:#3465a4:#75507b:#06989a:#d3d7cf:#555753:#ef2929:#8ae234:#fce94f:#729fcf:#ad7fa8:#34e2e2:#eeeeec"
    background_image = None
    background_darkness = 1.13
    cursor_shape = underline
    use_system_font = False
    cursor_color = "#00ff00"
    scroll_background = False
    show_titlebar = False
    foreground_color = "#ffffff"
    scrollback_infinite = True
  [[opaque]]
    palette = "#000000:#cd0000:#00cd00:#cdcd00:#1e90ff:#cd00cd:#00cdcd:#e5e5e5:#4c4c4c:#ff0000:#00ff00:#ffff00:#4682b4:#ff00ff:#00ffff:#ffffff"
    background_darkness = 0.9
    background_type = transparent
    background_image = None
    cursor_color = "#00ff00"
    foreground_color = "#ffffff"
    show_titlebar = False
    cursor_shape = underline
[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
