[global_config]
  focus = mouse
  handle_size = 1
  title_font = Ubuntu Mono 12
  title_inactive_bg_color = "#555753"
  title_transmit_bg_color = "#3e2d6d"
  title_use_system_font = False
[keybindings]
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      profile = default
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    background_darkness = 0.85
    cursor_color = "#ef2929"
    cursor_color_fg = False
    custom_command = zsh
    font = Fira Code 12
    palette = "#000000:#cd0000:#00cd00:#cdcd00:#0000cd:#cd00cd:#00cdcd:#faebd7:#404040:#ff0000:#00ff00:#ffff00:#0000ff:#ff00ff:#00ffff:#ffffff"
    scroll_background = False
    scrollback_infinite = True
    scrollbar_position = hidden
    use_custom_command = True
    use_system_font = False
