[global_config]
  geometry_hinting = False
  handle_size = 1
  focus = mouse
[keybindings]
  hide_window = None
[profiles]
  [[default]]
    palette = "#000000:#cd0000:#00cd00:#cdcd00:#1e90ff:#cd00cd:#00cdcd:#e5e5e5:#4c4c4c:#ff0000:#00ff00:#ffff00:#4682b4:#ff00ff:#00ffff:#ffffff"
    cursor_shape = underline
    background_image = None
    cursor_color = "#00ff00"
    foreground_color = "#ffffff"
    show_titlebar = False
  [[opaque]]
    palette = "#000000:#cd0000:#00cd00:#cdcd00:#1e90ff:#cd00cd:#00cdcd:#e5e5e5:#4c4c4c:#ff0000:#00ff00:#ffff00:#4682b4:#ff00ff:#00ffff:#ffffff"
    background_darkness = 0.9
    background_type = transparent
    background_image = None
    cursor_color = "#00ff00"
    foreground_color = "#ffffff"
    show_titlebar = False
    cursor_shape = underline
[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
