argparse
babel
coverage
dateutils
docutils
gdata
lxml
magento
Mako
MarkupSafe
mock
pep8
Pillow
PyYAML
psycopg2
pycha
pyflakes
python-dateutil
python-openid
pytz
reportlab
simplejson
six
suds
unittest2
vobject
Werkzeug
wsgiref
xlrd
